@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Date Range Picker Styles */
.date-range-picker {}

.date-range-picker .rdp-range_start .rdp-day_button,
.date-range-picker .rdp-range_end .rdp-day_button,
.date-range-picker .rdp-selected .rdp-day_button {
  border: none !important;
  background-color: #3e557b !important;
  --rdp-range_middle-background-color: #3e557b !important;
  background-color: #3e557b !important;
  background-color: #3e557b !important;
}

.rdp-range_end,
.rdp-range_start {
  background-color: #3e557b !important;
  background: #3e557b !important;
  border-radius: 0px;
}

.rdp-today {
  color: #1456fb !important;
  font-weight: bold !important;
}

.rdp-button_previous,
rdp-button_next {
  color: #1456fb !important;
  font-weight: bold !important;
}